<div id='content'>
  <div id='logo_column1'>
    <div id='logo_wrapper'>
      <%= image_tag('new_relic.jpg', class: 'new_relic') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('esri.png', class: 'esri') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('ruby-central.png', class: 'ruby-central') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('nird.jpg', class: 'nird') %>
    </div>
  </div>

  <div id='center_column'>
    <div id='logo_bar'>
      <div id='logo_wrapper'>
        <%= image_tag('goldstar.png', class: 'goldstar') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('livingsocial.png', class: 'livingsocial') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('avvo.png', class: 'avvo') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('covermymeds.png', class: 'covermymeds') %>
      </div>
    </div>

    <div id='stream'>
      <iframe width="1200" height="696" src="//www.youtube.com/embed/AtCsDQr9-gY" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id='logo_bar'>
      <div id='logo_wrapper'>
        <%= image_tag('elemental.png', class: 'elemental') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('honeybadger.png', class: 'honeybadger') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('substantial.png', class: 'substantial') %>
      </div>
      <div id='logo_wrapper'>
        <%= image_tag('crowd_compass.png', class: 'crowd_compass') %>
      </div>
    </div>
  </div>

  <div id='logo_column2'>
    <div id='logo_wrapper'>
      <%= image_tag('ninefold.png', class: 'ninefold') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('wepay.png', class: 'wepay') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('culture-foundry.png', class: 'culture-foundry') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('whitepages.png', class: 'whitepages') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('unbounce.png', class: 'unbounce') %>
    </div>
  </div>

</div>
