<div id='content'>
  <div id='logo_bar'>
    <div id='logo_wrapper'>
      <%= image_tag('cloudability.png', class: 'cloudability') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('engine_yard.jpg', class: 'engine_yard') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('github.jpg', class: 'github') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('new_relic.jpg', class: 'new_relic') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('ninefold.png', class: 'ninefold') %>
    </div>
  </div>
  <div id='stream'>
    <object id='justintv' type="application/x-shockwave-flash" height="500" width="800" id="jtv_player_flash" data="http://www.justin.tv/widgets/jtv_player.swf?channel=confreaks" bgcolor="#000000">
      <param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" />
      <param name="movie" value="http://www.justin.tv/widgets/jtv_player.swf" />
      <param name="flashvars" value="channel=confreaks&auto_play=false&start_volume=50&watermark_position=top_right" />
    </object>
  </div>
  <div id='logo_bar'>
    <div id='logo_wrapper'>
      <%= image_tag('nird.jpg', class: 'nird') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('puppet.png', class: 'puppet') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('simply_measured.jpg', class: 'simply_measured') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('sweetspot.jpg', class: 'sweetspot') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('g5.png', class: 'g5') %>
    </div>
  </div>
</div>
