<div id='content'>
  <div id='logo_bar'>
    <div id='logo_wrapper'>
      <%= image_tag('cloudability.png', class: 'cloudability') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('github.jpg', class: 'github') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('new_relic.jpg', class: 'new_relic') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('simply_measured.jpg', class: 'simply_measured') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('sweetspot.jpg', class: 'sweetspot') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('puppet.png', class: 'puppet') %>
    </div>
  </div>
  <div id='stream'>
    <%= image_tag('schedule.jpg', class: 'cascadia') %>
  </div>
  <div id='logo_bar'>
    <div id='logo_wrapper'>
      <%= image_tag('g5.png', class: 'g5') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('engine_yard.jpg', class: 'engine_yard') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('ninefold.png', class: 'ninefold') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('nird.jpg', class: 'nird') %>
    </div>
    <div id='logo_wrapper'>
      <%= image_tag('crowd_compass.png', class: 'crowd_compass') %>
    </div>
  </div>
</div>
